<footer class="site-footer">
    <div class="footer-container">
      <p>&copy; {{ site.time | date: "%Y" }} {{ site.title }}. All rights reserved.</p>
      <p><a href="/terms-of-service/">Terms of Service</a> | <a href="/privacy-policy/">Privacy Policy</a></p>
        
      <div class="footer-social">
        <a href="https://github.com/{{ site.github_username }}" target="_blank">
            <svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#github"></use></svg>
        </a>
        <!-- Add more social media links as needed -->
      </div>
    </div>
</footer>