<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title | escape }} - {{ site.title | escape }}</title>
  <link rel="icon" href="/media/know-u-icon-round.png" type="image/x-icon">
  
  <!-- Link to Google Font -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap">
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
  {% include google-analytics.html %}
  <style type="text/css">
    /* Insert your custom styles here */
  </style>
</head>
<body>
    {% include header.html %}
    <div class="container">
        <div class="inner-container">
            {{ content | prepend: site.baseurl }}
        </div>
    </div>
    {% include footer.html %}
</body>
</html>